.container {
 width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.greeting {
 font-size: 38px;
 font-weight: bold;
 color: #FFFFFF;
 margin: 0 auto;
}

.inputgroup {
 margin-top: 10px;
}

.inputgroup input {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 12px 18px;
  border-radius: 8px;
  border-color: rgba(196, 196, 196, 0.2);
  color: rgba(255, 255, 255, 0.74);
}

::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.inputgroup input:focus {
 border-color: rgba(196, 196, 196, 0.2);
 outline: none;
}

button {
  background-color: #ff5959;
  border-color: #ff5959;
  font-weight: bold;
  color: #fff;
  padding: 12px 38px;
  margin-top: 1em;
  border-radius: 10px;
  cursor: pointer;
}
